{% extends 'navbar.html' %}
{% block list %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        /* background-color: pink; */
        text-align: center;        
    }
    .mainhead{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
    }
</style>

<body>
    <div class="mainhead">
        <div>
            <h5>ABOUT PAGE</h5>
            <h1>Readme.md</h1>
        </diFv>
    </div>
</body>

</html>
{% endblock %}